* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#content {
    max-width: 960px;
    margin: auto;
}

header {
    width: 100%;
    margin-top: 30px;
    background-color: whitesmoke;
    border: blanchedalmond;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.headerlink {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-shadow: 1px solid black;
    text-decoration: none;
    width: 33%;
    text-align: center;
    border: 1px solid gray;
    background-color: ivory;
    border-radius: 15px;
    padding: 5px;
}

#headerlogo {
    width: 150px;
    height: 150px;
    border: 1px solid rgb(212, 209, 209);
    border-radius: 30px;
    margin: 5px;
}

#footerlogo {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    width: 50px;
    height: 50px;
    border: white;
    border-radius: 25px;
}


#headercontent {
    margin-left: 50px;
}

p {
    margin-left: 20px;
    width: 95%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: ivory;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: #0a090a;
}

#content {
    margin-top: 10px;
}

nav {
    margin-top: 10px;
}

.square {
    height: 100px;
    width: 100px;
    background-color: #302f2f;
}

#square1 {
    position: relative;
    float: right;
    top: 80px;
    right: -40px;
    rotate: -20deg;
}

#square2 {
    position: relative;
    float: left;
    /* top: 80px; */
    right: 80px;
    rotate: 50deg;
    background-color: #201e1e;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 60px solid #000000;
    rotate: 35deg;
    float: right;
    position: relative;
    bottom: 45px;
    right: 25px;
}